.main-div{
    background-color: #FBFBFB
}


.sidebar{
    background-color:white;
    padding-left: 26px;
    margin-left:113px;
    margin-top:42px;   
    width: 260px;
    height: 682px;
    box-shadow: 5px 5px 5px -2px rgba(184,157,157,0.75);
-webkit-box-shadow: 5px 5px 5px -2px rgba(184,157,157,0.75);
-moz-box-shadow: 5px 5px 5px -2px rgba(184,157,157,0.75);
}
.Result{
    display: inline-block;
    width: 794px;
    height: 291px;
    margin-left: 45px;
    margin-top: 42px;
}
.item-result{
   
    height: 200px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px -2px rgba(184,157,157,0.75);
    -webkit-box-shadow: 5px 5px 5px -2px rgba(184,157,157,0.75);
    -moz-box-shadow: 5px 5px 5px -2px rgba(184,157,157,0.75);
}
.heading{
    font-size: 36px;
    margin-left: 113px;
    margin-top: 37px;
    color: #192F60;
    font-weight: bold;
}
.header{
    background-color: rgb(211, 10, 10);
    height: 80px;
    display: flex;
    align-items: center;
}

.header-left{
    flex:1;
    justify-content:flex-start;
}

.logo-container{
    top: 16px;
    margin-left: 112px;
    width: 52px;
    height: 52px;
    text-align: left;
font: normal normal 600 33px/50px Poppins;
letter-spacing: 0px;
color: #EB2929;
background-color:white;
border-radius:50px; 
    }

.header-left-logo{
 margin-left:11px;
 margin-right: 15px;
}


.header-right{
    flex:1;
    display: flex;
    justify-content: flex-end;
}
.Login{
margin-right: 20px;
margin-top:29px;
margin-bottom: 28px;
font-weight: 500;
color: white
}    
.Account{
    border: 1px solid white;
    background-color:#CE0505;
    color:white;
    border-radius: 5px;
    height: 46px;
    width: 181px;
    font-weight: 500;

}

.dropdown{
width: 208px;
outline: 1px solid #8C96AB;
height:35px;
margin-top:11px;
border-radius: 3px;
color: #8C96AB;
}

.dropdown-options{
padding:10px
}

.header-right-credentials{
    display: flex;
    align-items: center;
    margin-right: 101px;
    margin-top: 17px;
    margin-bottom: 17px;
    font-weight: 500;
    
}


.siderbar-filter-title{
    color:#192F60;
    font: normal normal 600 18px/27px Poppins;
    font-size: 18px;
    margin-top: 17px;
}

.sidebar-info{
    color:#192F60;
    margin-top : 10px;
    font: normal normal normal 14px/21px Poppins;
    font-size: 14px;
}

.sidebar-desc{
margin-top: 22px; 
font-size: 14px;
font: normal normal normal 14px/21px Poppins;
color:#192F60;   
}

.sidebar-checkbox{
height: 18px;
width: 18px;
margin-top: 4px; 
background: #3A5075 0% 0% no-repeat padding-box;
border-radius:1.5px;
}

.siderbar-filters{
    display: flex;
    
}

.sidebar-checkbox-items{
    margin-left: 10px;
    font-size: 14px;
    color:#8C96AB;
    margin-top: 4px;
    font: normal normal normal 14px/21px Poppins;
    margin-bottom: 4px;
    }


.sidebar-desc2{
   
    color: #192F60;
    font: normal normal normal 14px/21px Poppins;
    font-size: 14px;
    margin-top: 26px;

    }
.sidebar-filters-part2{
    display: flex;

}
.sidebar-radio{
    width: 18px;
    height: 18px;
    border: 2px solid #3A5075;
    border-radius: 9px;
    border-color: #3A5075;
    border-width: 1.5px;
    margin-top: 6px;
    margin-bottom: 6px;

}
.sidebar-radio-label{
    width: 104px;
    height: 20px;
    color: #8C96AB;
    font-size: 14px;
    margin-left: 11px;
    text-align: left;
    font: normal normal normal 14px/21px Poppins;
    margin-top: 6px;
    margin-bottom: 6px;

}

.sidebar-desc3{
    display: flex;
    width: 37px;
    height: 25px;
    margin-top: 29px;
    text-align: left;
font: normal normal 600 18px/27px Poppins;
letter-spacing: 0px;
color: #192F60;

}
.sidebar-filter-part3{
    display: flex;
}
.sidebar-sort{
    width: 18px;
height: 18px;
border: 2px solid #3A5075;
border-radius: 9px;
margin-bottom: 7px;

}
.sidebar-sort-label{
    width: 114px;
    
margin-bottom: 8px;
height: 20px;
font-size: 14px;
margin-left: 11px;
font: normal normal normal 14px/21px Poppins;
letter-spacing: 0px;
color: #8C96AB;
}

.item-result{
    width: 794px;
    height: 291px;
    top: 195px;
    left: 418px;
    padding-left: 35px;
    padding-top:25px;
}

.top-result{
    display: flex;
}
.top-result-left-image{
    height: 120px;
    width: 120px;
    border-radius:25px;
    object-fit: cover;
}

.top-result-right-title{
margin-left: 41px;
font: normal normal 600 30px/46px Poppins;
color: #192F60;
font-size: 30px;
margin-bottom: 0px;    
}

.top-result-right-info{
    font: normal normal medium 16px/30px Poppins;
    font-size: 16px;
    font-weight: 500;
    color:#192F60;
    margin-left: 41px;
    margin-bottom: 0px;
}

.top-result-right-address{
color:#636F88;
font: normal normal normal 16px/30px Poppins;
margin-bottom: 0px;
margin-left: 41px;
}

.devider{
    width: 726.36px;
color: #a9aab9;
height: 2px;

opacity: 1;


}

.bottom-result{
    display: flex;
    margin-top: 26px;
}

.bottom-left-item{
    font: normal normal normal 16px/30px Poppins;
letter-spacing: 0px;
color: #636F88;
margin-bottom: 0px;
}

.bottom-right-infos{
    margin-bottom: 0px;
    margin-left: 36px;
    font: normal normal normal 16px/30px Poppins;
letter-spacing: 0px;
color: #192F60;
}

.pagination{
    margin-top:38px;
    margin-left: 222px;
}

.pagination-container{
    height: 36px;
    width: 36px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #8C96AB;
border-radius: 7px;
margin-left:13px;
}

.pagination-item0{
    width: 12px;
    height: 28px;
    text-align: left;
    font: normal normal medium 20px/30px Poppins;
    letter-spacing: 0px;
    color: #8C96AB;
    size: 2px;
    margin: 4.21px 15.5px 9.45px 11.33px
    
}

.pagination-container-one{
    background: #8C96AB 0% 0% no-repeat padding-box;
border: 1px solid #8C96AB;
border-radius: 7px;
margin-left:13px;
height: 36px;
width: 36px;
}
.pagination-item-one{
    margin:5px 14px 3px 15px; 
    size:2px;
    font-weight: 500;
    color:white
}
.pagination-item-two{
  size: 20px;
font: normal normal medium 20px/30px Poppins;

margin: 5px 11px 3px 14px;
}
.pagination-item-three{
    size: 20px;
font: normal normal medium 20px/30px Poppins;

margin: 5px 12px 3px 12px;

}
.pagination-item-four{
    size: 20px;
font: normal normal medium 20px/30px Poppins;

margin: 5px 11px 3px 12px;

}
.pagination-item-five{
    size: 20px;
    font: normal normal medium 20px/30px Poppins;
    
    margin: 5px 11px 3px 12px;
}
.pagination-item-six{
    size: 2px;
    margin: 4.21px 15.5px 9.45px 11.33px
}